/* 0. Breakpoints ==================================== */
$bp-tablet: 760px;
$bp-desktop: 1020px;
$bp-xl: 1400px;

/* 1. Colors ========================================= */
$color-cream: #f7e5b8;
$color-red: rgb(167, 20, 20);
$color-offred: #900;
$color-gold: #d8a720;
$text-blk: #000;
$text-wht: #fff;
$text-p: #757175;

/* 2. Fonts  ========================================= */
$hFont: 'Pacifico', cursive;
$pFont: 'Noto Sans', sans-serif;

